@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	alignment: center;
	background: #fdfdfd;
	font-family: "Nunito", sans-serif;
	font-size: 1rem;
}
main {
	max-width: 500pt;
	margin: auto;
	padding: 0.5rem;
	text-align: center;
}
#board {
	display: grid;
	grid-template-columns: auto auto auto;
	margin: auto;
}
.tile {
	display: flex;
	justify-content: center;
	align-items: center;
	border-style: solid;
	border-width: 4pt;
	width: 100%;
	height: 100%;
	
}
.tile:after {
  content: "‎ " attr(claimedBy) "‎ ";
  font-size: 4vw;
  padding-bottom: 100%;
}